/* my code below*/

.tutor-course-form .tutor-form-row .tutor-form-col-2 {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.tutor-course-form .tutor-form-row .tutor-form-col-2 .tutor-form-col-2 {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.tutor-course-form .tutor-form-row .tutor-form-col-2 .tutor-form-col-2 .tutor-form-col-2 {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.tutor-course-form .tutor-form-row .tutor-form-col-2 .tutor-form-col-2 .tutor-form-col-2 .tutor-form-col-2 {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}






