.tutorImageContainer{
	height: 60px;
    width: 60px;
    border-radius: 50%;
}
.tutorImageJpg{
	height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.submitButton{
    cursor: pointer;
    background: rgba(253, 41, 89, 0.3);
    width: 8em;
    height: 2em;
    border-radius: 5px;
}
.submitButton:hover{
    font-weight: 800;
    background: rgba(253, 41, 89, 0.6);
}

.tutor_formContainer{
    /* background-color: bisque; */
}
.react-responsive-modal-modal{
    border-radius: 23px;
}
.tutorError{
    color: red;
    width: 56em;
}