@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:ital,wght@1,100&display=swap");

.notification-user {
  display: inline-flex;
  position: relative;
  top: 5px;
  width: 95%;
  padding: 10px 10px 20px 10px;
  margin-bottom: 5px;
  font-style: Inter;
}
.notification-user img {
  margin-right: 5px;
  width: 40px;
}

/* .notification-user:hover {
  background-color: rgba(20, 168, 0, 0.05);
} */

.notification-profile {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  width: 90%;
  font-style: Inter;
  padding-left: 3px;
  font-weight: lighter;
}
.notification-message {
  padding-left: 3px;
}

.notification-line {
  margin: auto;
  width: 95%;
}
.notification-dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.notification-dropdown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}
.notification-button {
  color: rgb(13, 14, 13);
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  background: rgb(134, 191, 126);
  width: 80px;
  padding: 2.5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.notification-button:hover,
.notification-button:active {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
