.avail-btn[type='submit'] {
  background-color: rgb(89, 26, 2);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.avail-btn[type='submit']:hover {
  background-color: rgb(21, 21, 23);
}

.avail-btn[type='submit']:active {
  background-color: rgb(21, 21, 23);
}
  
  
  