.eachAreaOfInterest{
    /* display: flex; */
    font-size: 15px;
    background-color: #eceaea;
    padding: 5px;
    border-spacing: 3px;
    margin: 10px;
    flex-direction: row;
    /* overflow: hidden; */
}

.areas-container{
    /* display: flex; */
    justify-content: space-between;
    /* background-color: red; */
}