

/* body{
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
} */
 .resetPassword{
 border-color: black; 
 background-color: #e5e5e5;
 width: 600px;
 height: 100px;

}

.tutor-buddy{
 display: flex;
 padding: 20px;
 justify-content: center;
}

.form-group input{
padding: 8px 16px;
gap: 10px;
width: 364px;
height: 25px;
background: #FFFFFF;
border: 1px solid #D9D9D9;

}
label{
  color: #050404;
  align-items: left;
  justify-content: left;
}
.learn{
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #050404;
}

.form-con{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 60px;
gap: 40px;

width: 500px;
height: 325px;

background: #FFFFFF;

}


.form-box{
  background-color: white;
}

.form-control{
  border-radius: 0;
  border: 1px solid #fff;
  border-color: rgb(187, 186, 186);
  width: 300px;
  height:48px;
  text-align: left;
}
.btn-primary {
padding: 8px 16px;
color: #fff;
gap: 10px;
width: 400px;
height: 45px;
  border: 1px solid #FD2959;
background: #FD2959;
margin-top: 10px;

} 
form p{
  text-align: center;
}
.login a{
  color:red;
  text-decoration:none;
}