.footer{
    background-color: #21334F;
    color: #21334F;
    width: 100vw;
    height: 160px;

}
.reserved{
    color: white;
    position: absolute;
    left: 8.68%;
    right: 8.54%;
    top: 94%;
}
.divider{
    position: absolute;
    left: 8.68%;
    right: 8.54%;
    top: 92%;
    /* bottom: 12.14%; */
    height: .2em;
    /* margin-bottom: -1.3em; */
    background: #F5FAFA;
    opacity: 0.2;  
}